
#hd_header_wrap div.hd_top{
	width:100%;
	height:35px;
	line-height:35px;
	border-bottom:1px solid #ccc;
}

#hd_header_wrap div.hd_top div.hd_top_con{
	height:100%;
}

#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left{
	float:left;
	cursor:pointer;
}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left a.dlu{
	margin-left:3px;
	padding-right:3px;
}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.hd_top_user a{
	color:#06c;	
}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.hd_top_user{
	position:relative;
	float:left;
}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.hd_top_user:hover div.hd_user_hide{
	display:block;
	z-index:1;
}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.hd_top_user:hover em.hd_arrow{
	background-position:-61px -870px;
}
/*登录的下拉菜单*/
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.hd_top_user div.hd_user_hide{
	width:302px;
	background:#fff;
	position:absolute;
	top:36px;
	border:1px solid #ccc;
	border-top:none;
	display:none;
}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.hd_login{
	height:37px;
	background:#fff;
	border:1px solid #ccc;
	border-top:none;
	padding:0px 5px;
}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left em.hd_arrow{
	display:block;
	position:absolute;
	width:52px;
	height:8px;
	left:26%;
	bottom:-3px;
	background:url("../images/indexhead_sprite.png") no-repeat;
	background-position:0px -870px;
}
#hd_header_wrap div.hd_top div.content{
	background:#f9f9f9;
}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_right{
	float:right;
	height:100%;
}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.clearfix{
	width:100%;
	height:67px;
	margin:14px 0px;
}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.clearfix div.f1 a.hd_avata_box{
	background:url("../images/indexhead_sprite.png") no-repeat;
	background-position:-78px -153px;
	width:65px;
	height:65px;
	margin:0px 10px;
	border:1px solid #d9d9d9;

}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.clearfix div.f1{
	float:left;
}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.clearfix a{
	display:block;
}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.clearfix div.hd_growth_box a.hd_vip_earn{
	float:left;
	height:26px;
	border:1px solid #ffb4b4;
	border-radius:26px;
	color:#ff8486;
	line-height:26px;
	padding:0px 10px;
}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.clearfix div.hd_growth_box{
	float:left;
}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.clearfix div.hd_growth_box a.huanyin{
	padding-left:22px;
	color:#333;
}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left  div.hd_top_message{
	height:55px;
}

#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left  div.hd_top_message a{
	display:block;
	color:#333;
	float:left;
	width:151px;
	height:55px;
	background:#fff5f0 url("../images/indexhead_sprite.png") no-repeat right -90px;;
	line-height:53px;
	text-align:center;
}

#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left  div.hd_top_message a:hover{
	background:#ffebe2;
}

#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.hd_province{
	float:left;
	padding-right:39px;
	background:url("../images/indexhead_sprite.png") no-repeat right -700px;
}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.hd_province span{
	padding:0px 5px;
}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.hd_province a.hd_province_name{
	background:#fff url("../images/indexhead_sprite.png") no-repeat right 7px;
	padding:0 15px 3px 5px;
	color:black;
	font-weight:bold;
	border:1px solid #dbdbdb;
}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.hd_province{
	position:relative;
}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.hd_province div.hd_province_hide{
	width:358px;
	position:absolute;
	background:#fff;
	border:1px solid #ccc;
	top:20px;
	left:0px;
	padding:10px 12px 0px;
	display:none;
	z-index:1;
}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.hd_province div.hd_province_hide  li
{
	float:left;
	padding:0px 10px;
}

#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.hd_province div.hd_province_hide ul{
	overflow:auto;
	padding:5px 0px;
}


#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.hd_province div.hd_province_hide li.hd_povince_hot{
    font-size: 14px;
    color: #666;
    font-weight: bold;
	background: url(../images/indexhead_sprite.png) no-repeat 0 -650px;
	margin-top:-5px;
}

#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.hd_province div.hd_province_show:hover div.hd_province_hide{
	display:block;	
}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.hd_province div.hd_province_show{
	display:inline;
	position:relative;
}

#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.hd_province li:hover{
	background:#ff966e;
}


#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.hd_province li a{
	display:block;
	height:24px;
	line-height:24px;
}
#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.hd_province li.common{
	color:#999;
	height: 16px;
    border-right: 1px dotted #ebebeb;
    line-height: 16px;
	font-size:14px;
	margin-top:5px;
	background: url(../images/indexhead_sprite.png) no-repeat 0 -661px;
}

#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.hd_province ul.hd_povince_hot{
	border-bottom: 1px solid #e5e5e5;
	margin-bottom:0px;
}
#hd_header_wrap div.hd_top div.hd_province_zhegai{
	position:absolute;
	width:99%;
	height:3px;
	background:#fff;
	top:19px;
	left:1px;
	display:none;
}

#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.hd_province div.hd_province_show:hover div.hd_province_zhegai{
	display:block;
}

#hd_header_wrap div.hd_top div.hd_top_con div.hd_top_left div.hd_province div.hd_province_show:hover a.hd_province_name{
	background:#fff url("../images/indexhead_sprite.png") no-repeat right -78px;	
}
/*头部右边部分*/
#hd_header_wrap div.hd_top div.hd_top_right ul.hd_top_right_clerafix{
	 margin-top:7px;
	 float:left;
}

#hd_header_wrap div.hd_top div.hd_top_right ul li.hd_menu_tit{
	position:relative;
	float:left;
	border-right: 1px solid #FAFAFA;
	height:23px;
	line-height:23px;
	background: url(../images/indexhead_sprite.png) no-repeat right -735px;
	width:87px;
	text-align:center;
}

#hd_header_wrap div.hd_top div.hd_top_right ul li a{
	background: url(../images/indexhead_sprite.png) no-repeat right -257px;
	padding-right:17px;
}
#hd_header_wrap div.hd_top div.hd_top_right span.hd_follow_us{
	float:left;
	padding-left:5px;
}
#hd_header_wrap div.hd_top div.hd_top_right a.hd_sina_weibo{
	background: url(../images/indexhead_sprite.png) no-repeat -283px -838px;
	display:block;
	width:17px;
	height:25px;
	float:left;
	margin-top:7px;
	margin-left:5px;
}
#hd_header_wrap div.hd_top div.hd_top_right a.hd_weixin{
	background: url(../images/indexhead_sprite.png) no-repeat -283px -928px;
	display:block;
	width:17px;
	height:25px;
	float:left;
	margin-top:7px;
	margin-left:5px;
}

#hd_header_wrap div.hd_top div.hd_top_right ul li:hover{
	background:#fff;
}
#hd_header_wrap div.hd_top div.hd_top_right ul li div.hd_menu_list{
    position: absolute;
    top: 23px;
    width: 87px;
    left: 0px;
    background:#fff;
	display:none;
	z-index:1;
}

#hd_header_wrap div.hd_top div.hd_top_right ul li div.hd_menu_list ul li a{
	background-image: initial;
	border-right:none;
	display:block;
	padding-right:0px;
	text-align:left;
	padding-left:14px;
}

#hd_header_wrap div.hd_top div.hd_top_right ul li div.hd_menu_list ul li{
	background:none;
	border:none;
}

/*1号店的下拉列表*/
#hd_header_wrap div.hd_top div.hd_top_right ul li img.img_1haodian{
	float:left;
	margin-top:20px;
	margin-left:20px;
	margin-bottom:20px;
}
#hd_header_wrap div.hd_top div.hd_top_right ul li.hd_menu_tit  div.hd_mobile_list{
	position:absolute;
	width:302px;
	z-index:2;
	right:0px;
    border: 1px solid #ccc;
    background: #FFF;
	z-index:1;
}

#hd_header_wrap div.hd_top div.hd_top_right ul li.hd_menu_zhangshang1  div.hd_mobile_list span{
	font-size:16px;
	font-weight:bold;
}

/*1号店的下拉列表的文字部分*/
#hd_header_wrap div.hd_top div.hd_top_right ul li  div.hd_mobile_list a.blue_link{
	color:#06c;
	font-size:12px;
	background:none;
	padding:0px;
}

#hd_header_wrap div.hd_top div.hd_top_right ul li  div.hd_mobile_list dl.hd_mobile_tab{
	width:100px;
	float:left;
	margin:20px 10px;
}


#hd_header_wrap div.hd_top div.hd_top_right ul li div.hd_menu_menu_daohang{
	position:absolute;
	border:1px solid #ccc;
	background:#fff;
	display:none;
	width:210px;
}

#hd_header_wrap div.hd_top div.hd_top_right ul li div.hd_menu_menu_daohang a{
	background:none;
}

#hd_header_wrap div.hd_top div.hd_top_right ul li:hover div.hd_menu_menu_daohang{
	display:block;
	border-bottom:none;
	left:-124px;
    padding: 6px 40px;
} 
#hd_header_wrap div.hd_top div.hd_top_right ul li:hover div.hd_mobile_list{
	display:block;
	border-bottom:none;
}
#hd_header_wrap div.hd_top div.hd_top_right ul li:hover div.hd_menu_list{
	display:block;
	border-bottom:none;
	z-index:1;
}

#hd_header_wrap div.hd_top div.hd_top_right ul li div.hd_mobile_list{
	display:none;
}

#hd_header_wrap div.hd_top div.hd_top_right ul li i.hd_menu_zhangshang1{
	background: url(../images/indexhead_sprite.png) no-repeat right -230px;
	width:14px;
	height:23px;
	display:block;
	float:left;
	line-height:23px;
	margin-top:3px;
}

#hd_header_wrap div.hd_top div.hd_top_right ul li div.hd_menu_menu_daohang ul.clearfix {
    width: 210px;
    border-bottom: 1px solid #e0e0e0;
    line-height: 18px;
	height:30px;
	margin-top:-1px;
	z-index:1;
}
#hd_header_wrap div.hd_top div.hd_top_right ul li div.hd_menu_menu_daohang{
		z-index:1;
}
#hd_header_wrap div.hd_top div.hd_top_right ul li div.hd_menu_menu_daohang ul.clearfix li{
	float:left;
	height:30px;
}

/*头部广告部分*/
#hd_header_wrap div.banner{
	position:relative;
	top:-2px;
}

#hd_header_wrap div.banner p.zhankai{
	position:absolute;
	right:22px;
	top:5px;
	width:21px;
	color:#FDF5E6;
}
#hd_header_wrap div.banner p.zhankai:hover{
	cursor:pointer;
}

/*头部搜索部分开始*/
#hd_header_wrap div.hd_search{
	width:100%;
	margin-top:-4px;
	height:99px;
	background:white;
}
#hd_header_wrap div.hd_search div.content{
	height:101px;
	padding-top:22px;
}
#hd_header_wrap div.hd_search_form{
	height:32px;
	border: 2px solid #ff3c3c;
	width:528px;
}
#hd_header_wrap div.hd_head_search,#hd_header_wrap  #logo_areaID,input.hd_input{
	float:left;
}

#hd_header_wrap div.hd_head_search{
	margin-left:136px;

}
#hd_header_wrap div.hd_head_search div.hd_search_form_product{
	height:32px;
	width:50px;
	padding-left:9px;
	line-height:32px;
	background:#f9f9f9;
	float:left;
}
#hd_header_wrap input.hd_input{
	width:384px ;
	height:30px;
	border-style:none;
	outline:none;
	color:#666;
}
/*搜索按钮样式*/
#hd_header_wrap div.hd_form_search{
	background:#ff3c3c;
	float:left;
	height:32px;
	width:85px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    text-align: center;
    color: #FFF;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
	line-height:32px;
}

#hd_header_wrap div.hd_prism_wrap{
	float:right;
}
/*搜索部分的右边设置开始*/
#hd_header_wrap div.hd_prism_wrap ul{
	width:207px;
	height:45px;
	background:#fcfcfc;
}
#hd_header_wrap div.hd_prism_wrap ul li{
	float:left;
	width:64px;
	height:45px;
	text-align:center;
	border: 1px solid #f2f2f2;
}
#hd_header_wrap div.hd_prism_wrap ul li a{
	display:block;
	padding-top:5px;
	padding-left:5px;
    width:50px;
}
#hd_header_wrap div.hd_prism_wrap ul li  em.hd_fuli{
	display:inline-block;
    width: 24px;
    height: 22px;
	background:url("../images/indexhead_sprite.png");
    background-position: -130px -14px;
}
#hd_header_wrap div.hd_prism_wrap ul li  em.hd_dingdan{
	display:inline-block;
    width: 24px;
    height: 22px;
	background:url("../images/indexhead_sprite.png");
	background-position: -158px -14px;

}
#hd_header_wrap div.hd_prism_wrap ul li  em.hd_shopping_cart{
	display:inline-block;
    width: 24px;
    height: 22px;
	background:url("../images/indexhead_sprite.png");
	background-position: -189px -13px;
}
#hd_header_wrap div.hd_prism_wrap ul li.hd_cart{
	position:relative;
}
#hd_header_wrap div.hd_prism_wrap ul li div.hd_cart{
	position:absolute;
	display: block;
    width: 83px;
    height: 16px;
    overflow: hidden;
    padding: 17px 0 16px;
    background: #ff3c3c;
    text-align: center;
    line-height: 16px;
    color: #FFF;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}
#hd_header_wrap div.hd_prism_wrap img{
	margin-top:-10px;
	margin-left:-7px;
}
#hd_header_wrap div.hd_search{
	height:119px;
}
/*搜索部分的右边设置结束*/
/*头部搜索部分结束*/
/*菜单栏部分*/
#hd_header_wrap div.headerNav{
	border-bottom:2px solid red;
	}
#hd_header_wrap div.headerNavwrap ul li{
	float:left;
	height:37px;
	line-height:37px;
	background:#fff;
}

#hd_header_wrap div.headerNav ul li a{
	display:block;
	font-weight:bold;
	font-size:14px;
	padding:0px 28px;
}
#hd_header_wrap div.headerNav ul li a.red{
	color:#ff3c3c;
}
#hd_header_wrap div.headerNav div.content{
	height:37px;
	background:#fff;

}
#hd_header_wrap div.headerNav {
	background:#fff;
}

#hd_header_wrap div.headerNav div.allsortOuterbox{
	position:relative;
	width:210px;
	background:url("../images/indexhead_sprite.png") -104px -1201px no-repeat rgb(255, 60, 60);
	height:37px;
	text-align:center;
	line-height:37px;
}
#hd_header_wrap div.headerNav div.allsortOuterbox a{
	color:#fff;
	font-weight:bold;
	font-size:14px;
}
#hd_header_wrap div.headerNav div.hd_mobile_wrap{
	float:right;
	display:block;
	margin-top:-3px;
}
/*所有商品分类下面的菜单*/
#hd_header_wrap div.headerNav div.allsortOuterbox  div.menu{
	width:210px;
	height:399px;
	position:absolute;
	top:37px;
	background: #c23131;
}
#hd_header_wrap div.headerNav div.allsortOuterbox  div.menu a{
    display: inline-block;
    font-weight: normal;
    font-size: 12px;
    color: #fff;
	padding:0px 3px;
}
#hd_header_wrap div.headerNav div.allsortOuterbox div.menu p{
	width:210px;
	height:32px;
	text-align:left;
}
#hd_header_wrap div.headerNav div.allsortOuterbox div.menu ul{
	position:relative;
}
#hd_header_wrap div.headerNav div.allsortOuterbox div.menu ul li{
	padding-right:10px;
	background:url("../images/indexhead_sprite.png") no-repeat 190px -1148px;
	transition: all .1s ease-out 0s;
}
#hd_header_wrap div.headerNav div.allsortOuterbox div.menu ul li:hover{
	background:url("../images/indexhead_sprite.png") no-repeat 190px -1148px #872222;;
}
#hd_header_wrap div.headerNav div.allsortOuterbox div.menu ul li:hover p{
	padding-left:10px;
}
#hd_header_wrap div.headerNav div.allsortOuterbox div.menu ul li a:hover{
	text-decoration:underline;
}
/*menu  下面的子菜单栏开始*/
div.allsortOuterbox div.menu ul li div.hd_sort_list_wrap{
	position:absolute;
	height:400px;
	width:1027px;
	left:210px;
	top:0px;
	border:2px solid red;
	overflow:hidden;
	display:none;
}
div.allsortOuterbox div.menu ul li div.hd_sort_list_wrap div.hd_sort_list{
	float:left;
	width:250px;
	padding-left:22px;
}
div.allsortOuterbox div.menu ul li div.hd_sort_list_wrap div.hd_sort_list dt{
	text-align:left;
}
div.allsortOuterbox div.menu ul li div.hd_sort_list_wrap div.hd_sort_list dd{
	float:left;
	line-height:17px;
	margin-bottom:5px;
	margin-right:5px;
    border-right:1px solid #ddd;
}
div.allsortOuterbox div.menu ul li div.hd_sort_list_wrap div.hd_sort_spot{
	float:left;
	width: 482px;
}

div.allsortOuterbox div.menu ul li div.hd_sort_list_wrap div.hd_sort_spot ul li{
	float:left;
}
div.allsortOuterbox div.menu ul li div.hd_sort_list_wrap div.hd_sort_spot ul li.spot_big{
	border-right:1px solid #ddd;
}
div.allsortOuterbox div.menu ul li div.hd_sort_list_wrap div.hd_sort_spot ul li.spot_item{
	width: 240px;
    height: 199px;
	margin:0px 0px;
	border-top:1px solid #ddd;
}
div.allsortOuterbox div.menu ul li:hover div.hd_sort_list_wrap{
	display:block;
}
div.allsortOuterbox div.menu{
	position:absolute;
	z-index:2;
}
/*menu  下面的子菜单栏结束*/
/*头部部分结束*/



/*广告部分*/
#banner ul.guanggao li{
	width:100%;
	height:400px;
	position:absolute;
	display:none;
	top:0px;
	left:0px;
	padding-left:286px;
}

#banner{
	position:relative;
}
#banner div.box{
	position:absolute;
	bottom:10px;
	left:619px;
	z-index:9;
}
#banner div.box ul li{
	width:15px;
	height:15px;
	float:left;
	background:#ccc;
	margin-left:5px;
	bottom:10px;
}
#banner{
	height:400px;
}
#banner div.prev{
	position:absolute;
    width: 24px;
    height: 80px;
	z-index:5;
	left:295px;
	top:200px;
	background: url(../images/indexhead_sprite.png) no-repeat  0 -152px;
}
#banner div.next{
	position:absolute;
    width: 24px;
    height: 80px;
	z-index:5;
	left:1015px;
	top:200px;
	background: url(../images/indexhead_sprite.png) no-repeat  -41px -152px;
}
/*广告部分右边开始*/
#banner div.layout{
	position:absolute;
	right:73px;
	top:0px;
	width:240px;
	height:400px;
	background:#fff;
}
#banner div.layout div.layout_icon{
	border-bottom:1px solid #ccc;
	height:81px;
	padding:10px 10px;
}
#banner div.layout div.layout_icon a{
	display:block;
	width:50px;
	float:left;
	margin-left:10px;
}
#banner div.layout div.notice{
    height: 66px;
    padding: 8px 15px;
    border-bottom: 1px solid #eee;
}
#banner div.layout div.notice ul li{
	margin-top:5px;
}
div.layout div.app{
	position:relative;
}
div.layout div.app div.tabs a{
	display:block;
	float:left;
	width:80px;
	height:31px;
	background:#ccc;
	text-align:center;
	line-height:31px;
	margin-top:2px;
}
div.layout div.app div.mobile_money{
    position: absolute;
    padding: 10px 10px;
    top: 33px;
    left: 0px;
    height: 162px;
    width: 220px;
}
 div.layout div.app div.mobile_money input{
	width: 109px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #CCC;
    color: #CCC;
    padding: 0 5px;
}
div.layout div.app div.mobile_money button.btn_submit{
    width: 78px;
    height: 28px;
    margin-right: 10px;
    cursor: pointer;
    background: url(../images/indexhead_sprite.png) -29px -1044px no-repeat;
    border: 0 none;
    font-size: 12px;
    color: #FFF;
}
/*广告部分右边结束*/ 
/*主体部分开始*/
div.content{
	background:#fff;
}
 div.index_column_ad{
	margin:20px 0px;
}
div.index_column_ad img{
	margin:0px auto;
	display:block;
}
div.part1 div.big_pic,div.part1 div.small_pic{
	float:left;
}
div.part1 div.small_pic{
	height:400px;
	width:239px;
	border-right: 1px solid #f2f2f2;
}
div.part1 div.small_pic div.up{
	height:180px;
	padding:20px 41px;
	border-bottom: 1px solid #f2f2f2;
}
div.part1 div.small_pic div.up p,div.part1 div.small_pic div.down p{
	text-align:center;
	margin:8px 0px;
}

div.part1 div.small_pic div.up p,div.part1 div.small_pic div.down img{
	padding-left:36px;
}
div.part1 div.small_pic div.up p.strong,div.part1 div.small_pic div.down p.strong{
	text-align:center;
	font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    color: #333;
    font-family: "Microsoft YaHei";
}
div.part1{
	height:400px;
}
div.part1 div.border_right{
	border-right: 1px solid #f2f2f2;
}
/*鼠标滑动触发事件*/
div.part1 div.small_pic div.up:hover img{
	display:block;
	margin-left:-5px;
}
/*part1 结束*/
/*part2开始*/
div.part2{
	height:383px;
}
div.mod_floor_title div.keyword {
    float: right;
    color: #999;
}
 div.mod_floor_title div.keyword a{
	color: #666;
    margin: 0 5px;
    max-width: 73px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div.mod_floor_title div.keyword a:hover {
    color: #E60012;
}
div.mod_floor_title {
	background:#f9f9f9;
	margin-top:10px;
	border-bottom: 2px solid #ff4500;
	padding-bottom:7px;
}
div.mod_floor_title span a{
	font-weight: bold;
    font-size: 16px;
	border-bottom-color: #ff4500;
    color: #ff4500;
    font-family: "Microsoft YaHei";
}
div.part2 div.a_con{
    float: left;
    width: 209px;
    height: 360px;
    background: #fff;
    text-align: center;
    border-right: 1px solid #f4f4f4;
    overflow: hidden;
}
div.part2 .a_con div.tag{
	float:left;
}
div.part2 .a_con .tag a {
    display: block;
    position: relative;
    float: left;
    text-align: left;
    text-indent: 5px;
    margin: 0 10px;
    width: 84px;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px dotted #eee;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div.part2 .c_con a h3,div.part2 .d_con a h3 {
    height: 18px;
    padding: 0px 35px 3px;
    font-size: 14px;
    color:#000;
    line-height: 24px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
}
div.part2 .c_con  h4,div.part2 .d_con  h4{ 
    height: 24px;
    margin-bottom: 10px;
    padding: 0 53px;
    font-size: 12px;
    color: #999;
    line-height: 24px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
	margin-top:-18px;
}
div.part2 .c_con {
	border-right:1px solid #f4f4f4;
}
div.part2 .b_con{
	width:330px;
	float:left;
}
div.part2 div.c_con{
	float:left;
	width:219px;
}
div.part2 div.c_con a{
	display:block;
	position:relative;
}
div.part2 a span.big_sales{
	position:absolute;
	right:0px;
	bottom:0px;
	display:block;
}
div.part2 div.c_con a.pic{
	border-bottom:1px solid #f4f4f4;
}
div.part2 div.d_con{
	width:219px;
	float:left;
	position:relative;
}
/*part2结束*/
/*主体部分结束*/